/* basic setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -ms-overflow-style: none;
    font-family: "spoqa han sans,AppleGothic,sans-serif,Helvetica";
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body,
html,
div,
span,
label,
section,
aside,
footer,
header,
nav,
video {
    border: 0;
    background-color: #ffffff;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:visited {
    text-decoration: none;
}

input,
textarea {
    outline: 0;
}

input:focus,
textarea:focus {
    outline: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

table {
    border-spacing: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear {
    clear: both;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
}
