.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.loading {
    text-align: center;
    font-size: 40px;
    color: pink;
    white-space: pre-wrap;
}

.mottoKo {
    text-align: center;
    font-size: 13px;
    color: #9E9E9E;
    white-space: pre-wrap;
}

.aladdin {
    text-align: center;
    font-size: 13px;
    color: #9E9E9E;
    white-space: pre-wrap;
}